.faleconosco{
    color: #ffff;
}

.faleconosco .titulopadrao{	
    padding-left: 422px;
}

.faleconosco .titulopadrao hr{	
    width: 60px;
	margin-left: 140px;
}

.faleconosco .container1{
	padding-left: 0px;
	display: flex;
	justify-content: flex-start;
}

.faleconosco .container1 .satelite{
	padding-right: 25px;
}

.faleconosco .container1 .satelite img{;
	width: 400px;
}

.faleconosco .container1 .contform{
	font: 18px "Poppins", sans-serif;
}

.faleconosco .container1 .contform p{
	padding-bottom: 26px;
}

.faleconosco .container1 .contform .botoes{
	display: flex;
	padding-bottom: 48px;
}

.faleconosco .container1 .contform .botoes .botaopadrao{
	font: 13px "Montserrat", sans-serif;
	padding:12px 45px;
	font-weight: bold;
	margin-right: 60px;
}

.faleconosco .container1 .contform .formularioesp{
	display: flex;
	height: 60px;
}

.faleconosco .container1 .contform .input{
	background-color: transparent;
	border: none;
	color: white;
    border-bottom: 2px solid #A877D9;
    margin-right: 20px;
    width: 350px;
	height: 30px;
	font: 16px "Poppins", sans-serif;
}

::placeholder {
	color: rgba(255, 255, 255, 0.75);

}


.faleconosco .container1 .contform .formularioesp2 .input{
	margin-top: 50px;
	margin-bottom: 20px;
	width: 720px;
	height: 80px;
}


@media only screen and (max-width: 760px) {

	.faleconosco{
		padding-bottom: 50px;
	}

	.faleconosco .container1{
		display: flex;
		justify-content: space-between;
	}

	.faleconosco .container1 .satelite{
		height: 250px;
		display: flex;
		flex-direction: column-reverse;
		z-index: 1;
		padding-right:0px;
		position: absolute;
	}

	.faleconosco .container1 .satelite img{
		width: 100px;
	}

	.faleconosco .titulopadrao{	
	    padding-left: 30px;
	    padding-bottom: 24px;
	}

	.faleconosco .titulopadrao hr{	
	    width: 50px;
		margin-left: 82px;
	}

	.faleconosco .container1 .contform{
		z-index: 2;
		padding-left: 70px;
		font: 10px "Poppins", sans-serif;
	}

	.faleconosco .container1 .contform .botoes{;
		padding-bottom: 20px;
	}

	.faleconosco .container1 .contform .botoes .botaopadrao{
		font: 8px "Montserrat", sans-serif;
		padding:8px 19px;
		font-weight: bold;
		margin-right: 25px;
	}

	.faleconosco .container1 .contform .formularioesp{
		flex-direction: column;
		align-items: center;
	}

	.faleconosco .container1 .contform .formularioesp2{
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.faleconosco .container1 .contform .input{
		background-color: transparent;
		border: none;
		color: white;
	    border-bottom: 2px solid #A877D9;
	    margin-right: 20px;
	    width: 240px;
		height: 30px;
		font: 8px "Poppins", sans-serif;
	}

	.faleconosco .container1 .contform .formularioesp2 .input{
		width: 240px;
		height: 50px;
		argin-top: 30px;
		margin-bottom: 10px;
		margin-top: 20px;
	}

	.centralizar{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.faleconosco .container1 .contform .botoes{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

}