
* {
    padding: 0px;
    margin: 0px;
}


/* estilizacao geral do header*/

header {

    display: flex;
    flex-direction: row;
    height: 60px;
    width: auto;
    background-color: #0D0D0D;
}
/*Menu sanduiche*/
header .check{
    display: none;
}

header .icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}

header .icone img{
    width: 0px;
}

header .imagem_sanduiche img{
    width: 0px;
}


/* estilizacao geral do menu */

header #lista{
    margin-left: 95vh;
    width: auto;
    justify-content: center;  
    align-self: center;  
}

/*esilização conteudo do menu*/
header #lista .lista_link{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: 300;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin: 50px;
}
/*estilização logo*/
header .logo{
    justify-content: center;  
    align-self: center;  
}


/*Responsividade*/

@media screen and (max-width: 1710px) {


    /* estilzacao do menu */
    
    header .menu{
        margin-left: 70vh;
    }
    
    /*esilização conteudo do menu*/
    header .menu a{
        font-size: 23px;
        margin: 40px;
    }
    
    
    }
    @media screen and (max-width: 1390px) {
    
    
        /* estilzacao do menu */
        
        header .menu{
            margin-left: 50vh;
        }
        
        /*esilização conteudo do menu*/
        header .menu a{
            font-size: 20px;
            margin: 30px;
        }
        
        
    }
    
    @media screen and (max-width: 1165px) {
    
    
        /* estilzacao do menu */
        
        header .menu{
            margin-left: 30vh;
        }
        
        /*esilização conteudo do menu*/
        header .menu a{
            font-size: 20px;
            margin: 30px;
        }
        
        
    }
      
    
    @media screen and (max-width: 900px) {
    
    
        /* estilzacao do menu */
        
        header .menu{
            margin-left: 10vh;
        }
        
        /*esilização conteudo do menu*/
        header .menu a{
            font-size: 20px;
            margin: 30px;
        }
        
        
    }
    
    
    @media screen and (max-width: 800px) {
    
    
        /* estilzacao do header com menu sanduiche */
        
        header .menu{
            margin-left: 5vh;
            display: flex;
            flex-direction: column;
            background-color: #0D0D0D;
            height: 100vh;
            width: 200px;
            position: absolute;
            transition: all 0.2s linear;
            top: 1px;
            left: -245px;
        }
        
        header .menu a{
            padding: 20px;
        }
        header .check{
            display: none;
        }

        header .icone{
            cursor: pointer;
            padding: 15px;
            position: absolute;
            z-index: 1;
        }

        header .imagem_sanduiche {
            position: absolute;
            width: auto;
            z-index: 15;
        }
        header .imagem_sanduiche img{
            width: auto;
            z-index: 15;
        }
        
        header .logo{
            margin-left: 70%;
        }
        
        header .drawer {
            position: absolute;
            background-color: #000000;
            left: 0;
            top: 0;
            height: 100vh;
            width: 45%;
            padding-top: 20vh;
            padding-bottom: 20vh;
            transform: translateX(-100%);
            transition: transform 0.5s ease-in;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
        header .open-drawer {
            position: absolute;
            background-color: #000000;
            left: 0;
            top: 0;
            height: 100vh;
            width: 45%;
            padding-top: 20vh;
            padding-bottom: 20vh;
            transform: translateX(0%);
            transition: transform 0.5s ease-in;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        /*header .burger {
            display: block;
            position: absolute;
            left: 25px;
        }
    
        header .close {
            display: block;
            position: absolute;
            left: 25px;
        }*/
        header #lista{
            margin-left: 0vh;
            width: auto;
            justify-content: center;  
            align-self: center;  
            z-index: 10;
        }
}
    