<link href="footer_style.css" rel="stylesheet">

<div class="footer">
    <div class="colunas">
        <div class="colunafooter1">
            <p>Sala 05 do DECOM, ICEB - UFOP <br> Ouro Preto -  MG </p>
        </div>
        <div class="colunafooter2">
            <a class="logosfooter" href="https://www.facebook.com/VolutaEJ/"><img src="assets/facebook.svg"width="32" height="32" /></a>
            <a class="logosfooter" href="https://www.instagram.com/volutaej/"><img src="assets/instagram.svg"width="34" height="34" /></a>
            <a class="logosfooter" href="mailto:voluta@gmail.com"><img src="assets/mail.svg"width="38" height="38" /></a>
        </div>
    </div>
        <div class="finalfooter">
            <p>Copyright © 2020 | Desenvolvido pela Voluta Soluções Digitais<p>
        </div>
    </div>
 