@font-face{
    font-family:  Montserrat, sans-serif;
    src: url(./assets/fontes/Montserrat/Montserrat-Medium.ttf);

    font-family: Poppins, sans-serif;
    src: url(./assets/fontes/Montserrat/Poppins-Bold.ttf);
};